.notificationAside {
  position: absolute;
  left: 60;
  top: 60;
  width: 220;
}

.notificationTitle {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}

.notificationDropdownRow {
  width: 170;
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-5)
  );
  padding: var(--mantine-spacing-sm);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-4)
    );
  }
}

.notificationRow {
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-sm);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-5)
    );
  }
}
