.groupManagerMainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.groceryListContainer {
  height: 100%;
  overflow: auto;
}

/* Add styles for the tabs panel to take up remaining space */
.mainCalendarContainer {
  height: calc(
    100vh - 200px
  ); /* Adjust this value based on your header height */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
