.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.text {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
}